body{
font-family:roboto; 
font-weight:500;
	
}
.navbar{
background:#02022C;
color:white;
}
.navbar-right a{
color:white;
padding:10px;
}
#mainNav .nav-link{
color:white;		
}
#mainNav .nav-link:hover{
background:white;
color:#02022C;
transition:background 1s;
border-radius:10px; }
#contactInof{
border-left:1px solid gray; 
padding-left:10px; 	
}
.singForm{
border-radius:10px;
margin:100px;
}
.loginForm{
border-radius:10px;
margin:100px;;
}
.fa-search{
padding:10px;
color:white; 	
}
.fa-facebook{
padding:10px;
color:white;  	
}
.fa-instagram{
padding:10px; 
color:white;  		
}
.carImg{
height:200px;
}
.carShowForm{
height:100%;
}
/* .infoCard{
margin-left:500px;	
} */
p{
font-weight:500; 	
}
.p{
font-weight:400; 		
font-size:25px;
border-bottom:2px solid gray;
padding-bottom:20px;   	
}
.navbar-brand{
color:white;
}
.navbar-brand:hover{	
color:white;
}
.displayNone{
display:none;	
}
.card:hover{
background:#E7E7EC;
}
.form{
width:50%;
margin: 30px auto;
}
.form2{
width:50%;
margin: 100px auto;
}
.container h1{
margin-top:80px;	
text-align:center;	
}
.deleteForm{
display:inline;
}
.editAnddelete{
margin-left:130px;	
}
.installment{
width:600px;
/* margin:100px;	 */
}
.displayBlock{
display:none; 	
}
.commentHeader{
color:white;
background:#6c757d;
}
.addComment{
color:black;
background:white;
border-radius:10px;
padding:5px;
float:right;
}
.addComment:hover{
color:black;	
}
.flash{
margin-top:65px;	
}
